/.env
/vendor/
/storage/cache/*
/storage/imports/*
/storage/logs/*
/storage/private/*
/storage/sessions/*
!/storage/cache/.gitkeep
!/storage/imports/.gitkeep
!/storage/logs/.gitkeep
!/storage/private/.gitkeep
!/storage/sessions/.gitkeep
/.idea/
/.vscode/
*.log
